<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inode">
    <insert id="insert">
      insert into inode(id,type,name,replication,mtime,atime,perferredBlockSize,permission,nsquota,dsquota,blockId,genstamp,numBytes)
      values(#{id},#{type},#{name},#{replication},#{mtime},#{atime},#{perferredBlockSize},#{permission},#{nsquota},#{dsquota},#{blockId},#{genstamp},#{numBytes})
    </insert>
</mapper>